
/*Main CSS*/

body{
  padding: 0;
  margin: 0;
  line-height: 145%;
  color: #777777;
  background-image: url("https://c1.staticflickr.com/5/4161/34707341245_1fffa4c723.jpg");
}

header{
	font-size: 2em;
	font-weight: bold;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	overflow: auto;
}

	#Headern{
		float: left;
		text-align: center;
		padding: 35px;
		background-color: #4aaaa5;
		color: white;
		font-family: Georgia, Times, Times New Roman, Serif;
		margin-top: 0px;
		margin-right: 575px;
		margin-bottom: 0px;
		margin-left: 120px;
	}

	.tab{
		float: left;
		padding: 35px;
		font-size: 16px;
		font-family: Arial, Helvetica neue, Helvetica, Sans-serif;
	}
			a.tab:link {
				color: #777777;
				text-decoration: none;
				font-weight: normal;
			}

			a.tab:visited {
				color: #cccccc;
				text-decoration: none;
				font-weight: normal;
			}

			a.tab:hover {
				color: #4aaaa5;
				text-decoration: none;
				font-weight: normal;
			}

#Main{
	float: left;
	background-color: #ffffff;
	width: 650px;
	margin-top: 30px;
	margin-left: 120px;
	margin-bottom: 30px;
}		
	#Maintitle{
		padding-top: 35px;
		padding-right: 20px;
		padding-left: 35px;
		padding-bottom: 30px;
		font-size: 2em;
		font-weight: bold;
		color: #4aaaa5 ;
		font-family: Georgia, Times, Times New Roman, Serif;
		border-bottom: 2px dotted #dddddd;
	}

	#Profile{
		float: left;
		padding-top: 35px;
		padding-left: 35px;
		margin-right: 4px;
		margin-bottom: 20px;
	}
		img#Profile{
			max-width: 30%
		}

	.Bio{
		float: left;
		font-family: Arial, Helvetica neue, Helvetica, Sans-serif;
		padding-top: 35px;
		padding-bottom: 20px;
		max-width: 50%;
		margin-left: 30px;
		margin-top: 0px;
	}
#Connect{
	float: left;
	background-color: #ffffff;
	width: 270px;
	height: 185px;
	margin-top: 30px;
	margin-left: 40px;
}
	
	#CwM{
		color:#4aaaa5;
		font-size: 1.5em;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 45px;
		padding-bottom: 20px;
		border-bottom: 2px dotted #dddddd;
	}

	.button{
		position: relative;
			top: 20px;
			left: 30px;
		margin-left: 2px;
	}

#Footer{
	clear: both;
	width: 100%;
	background: #666666;
	color: #eee;
	font-family: Arial, Helvetica neue, Helvetica, Sans-serif;
	font-size: .75em;
	text-align: center;
	padding: 35px;
	border-top: 5px solid #4aaaa5;
}


/*Additional CSS for contact.html*/

.contact{
	width: 600px;
	margin: 25px;
	font-family: Arial, Helvetica neue, Helvetica, Sans-serif;
	
}

.namebox{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;	
}

.emailbox{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}

.messagebox{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}

.sbutton{
	border: 0;
	background: #4aaaa5;
	font-family: Arial, Helvetica neue, Helvetica, Sans-serif;
	font-size: 15px;
	color: #eee;
	padding: 10px 25px 10px 25px;
}

.sbutton:hover{
	background: #666666;
}

/*Additional CSS for portfolio.html*/

.imgs{
	float: left;
}

.pictures{
	margin: 25px 15px 0px 15px;
	position: relative;
		z-index: 1;
		top: 35px;
		left: 14px;
	
}

.text{
	position: relative;
		z-index: 2;
		bottom: 24px;
		left: 29px;
	margin: 0;
	padding-top: 10px;
	width: 280px;
	height: 35px;
	background-color: #4aaaa5;
	color: #eee;
	font-size: 14pt;
	text-align: center;
	
/*End of CSS*/